<div class="py-4">
    <p style="font-size: xx-large;">Compras del super</p>
</div>
<ul class="list-group">
    <li class="list-group-item" style="border: none;">
        <input type="checkbox" class="form-check-input me-2">
        🍞 Pan
    </li>
    <li class="list-group-item" style="border: none;">
        <input type="checkbox" class="form-check-input me-2">
        🥛 Leche
    </li>
    <li class="list-group-item" style="border: none;">
        <input type="checkbox" class="form-check-input me-2">
        🥚 Huevos
    </li>
    <li class="list-group-item" style="border: none;">
        <input type="checkbox" class="form-check-input me-2">
        🍎 Manzanas
    </li>
    <li class="list-group-item" style="border: none;">
        <input type="checkbox" class="form-check-input me-2">
        🧀 Queso
    </li>
    <li class="list-group-item" style="border: none;">
        <input type="checkbox" class="form-check-input me-2">
        ☕ Café
    </li>
    <li class="list-group-item" style="border: none;">
        <input type="checkbox" class="form-check-input me-2">
        🍚 Arroz
    </li>
</ul>