<div class="py-4 me-5 text-center">
    <p class="mb-1 expenses">GASTOS DEL MES</p>
    <p class="mb-1">2024-07-05 13:55:44</p>
    <p class="mb-1">AGREGAR PRESUPUESTO</p>
    <p class="mb-1 fw-bold">TOTAL LISTA: $13500.00</p>

<ul class="list-group px-5 ">
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>RENTA</span>
        <div>
            <span>$5,000.00</span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>LUZ</span>
        <div>
            <span>$700.00</span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>AGUA</span>
        <div>
            <span>$300.00 </span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>GAS</span>
        <div>
            <span>$400.00 </span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>INTERNET</span>
        <div>
            <span>$600.00 </span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>TELÉFONO</span>
        <div>
            <span>$500.00 </span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>SUPER</span>
        <div>
            <span>$2,000.00 </span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>MERCADITO</span>
        <div>
            <span>$1,200.00 </span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>GASOLINA</span>
        <div>
            <span>$800.00 </span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>ROPA</span>
        <div>
            <span>$500.00 </span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>VISITA AL MÉDICO</span>
        <div>
            <span>$1,000.00 </span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>CURSO DE INGLÉS</span>
        <div>
            <span>$1,000.00 </span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
    <li class="list-group-item  d-flex justify-content-between" style="border: none;">
        <span>OTROS</span>
        <div>
            <span>$500.00 </span>
            <span class="ms-3">05/07-24</span>
        </div>
    </li>
</ul>
</div>