<div class="py-4">
    <p style="font-size: xx-large;">Películas recomendadas</p>
</div>
<div class="chat-container">
    <div class="chat-box p-4 mb-3">
        <p>
            Parasite <br>
            (2019, Bong Joon-ho) <br>
            Una familia pobre se infiltra en la vida de una familia rica, revelando oscuros secretos.
        </p>
        <p class="text-end m-0">04/07/24</p>
    </div>
    <div class="chat-box p-4 mb-3">
        <p>
            Pulp Fiction - Tarantino
        </p>
        <p class="text-end m-0">04/07/24</p>
    </div>
    <div class="chat-box p-4 mb-3">
        <p>
            El repostero de Berlín <br>
            Esta me la recomendó Ana
        </p>
        <p class="text-end m-0">04/07/24</p>
    </div>
</div>