<div class="p-3" style="height: 100vh;">
    <div class="card px-4 h-100">
        <div class="row h-100">
            <div class="col-4 pe-4">
                <div class="row py-4">
                    <div class="row justify-content-end mb-5">
                        <div class="col-lg text-center">
                            <img class="img-fluid" style="max-height: 48px;" src="..\assets\images\logo.png"
                                alt="Listagram-logo">
                        </div>
                        <div class="col-2 text-end align-content-center">
                            <i class="bi bi-search" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                    <div >
                        <a href="#" class="">
                            <div class="card p-3 mb-2">
                                <p class="m-0">hola mundo</p>
                            </div>
                        </a>
                        <a href="#" class="list-group-item-action">
                            <div class="card p-3 mb-2">
                                <p class="m-0">hola mundo</p>
                            </div>
                        </a>
                        <a href="#" class="list-group-item-action">
                            <div class="card p-3 mb-2">
                                <p class="m-0">hola mundo</p>
                            </div>
                        </a>
                    </div>
                    <p>lists-dashboard works!</p>
                </div>
            </div>
            <div class="col ps-4" style="border-left: 1px solid; border-color: #dee2e6;">
                <div class="py-4">
                    <h1>TIULO</h1>
                    <p>lists-dashboard works!</p>
                </div>
            </div>
        </div>
    </div>
</div>