<div class="p-3" style="height: 100vh;">
    <div class="card px-4 h-100">
        <div class="row h-100">
            <div class="col-4 pe-4">
                <div class="row py-4">
                    <div class="row justify-content-end mb-5">
                        <div class="col-lg text-center">
                            <img class="img-fluid" style="max-height: 48px;" src="..\assets\images\logo.png"
                                alt="Listagram-logo">
                        </div>
                        <div class="col-2 text-end align-content-center">
                            <i class="bi bi-search" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="">
                            <div class="card p-3 pb-0 pe-0 mb-2"style="border-bottom-right-radius: 24px;">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <h5>Peliculas para ver</h5>
                                    </div>
                                    <div class="col-4 text-end me-3">
                                        <p>05/07/24</p>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col pb-4 pe-lg-0">
                                        Hola amiguito que talsdfds como estas,
                                        Hola amiguito que talsdfds como estas,
                                        Hola amiguito que talsdfds como estas,
                                        Hola amiguito que talsdfds como estas,
                                        Hola amiguito que talsdfds como estas,
                                    </div>
                                    <div class="col-lg-3 text-end align-content-end ps-0" >
                                        <img class="img-fluid" src="..\assets\images\char_icon.svg" alt="chat-list-icon" style="width: 48px;">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="">
                            <div class="card p-3 pb-0 pe-0 mb-2"style="border-bottom-right-radius: 24px;">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <h5>Peliculas para ver</h5>
                                    </div>
                                    <div class="col-4 text-end me-3">
                                        <p>05/07/24</p>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col pb-4 pe-lg-0">
                                        Hola amiguito que talsdfds como estas,
                                    </div>
                                    <div class="col-lg-3 text-end align-content-end ps-0" >
                                        <img class="img-fluid" src="..\assets\images\char_icon.svg" alt="chat-list-icon" style="width: 48px;">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <p class="p-5 text-center">Nota: Esta página solo es un mockup. No incluye todas las funcionalidades de la aplicación</p>
                </div>
            </div>
            <div class="col ps-4" style="border-left: 1px solid; border-color: #dee2e6;">
                <div class="py-4">
                    <h1>TIULO</h1>
                    <p>lists-dashboard works!</p>
                </div>
            </div>
        </div>
    </div>
</div>